<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-left icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar (ionInput)="searchTracks($event)" right></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="tracks && tracks.length > 0">
    <ion-item *ngFor="let track of tracks; let i = index" [attr.data-index]="i">
      <ion-thumbnail item-start>
        <img src="{{track.artwork_url}}">
      </ion-thumbnail>
      <h2>{{i}}{{track.title}}</h2>
      <p>{{track.duration}} • {{track.user.username}}</p>
      <button ion-button clear item-end (click)="playTrack(track, i)">Play</button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="currentTrack">
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only large>
        <ion-icon name="arrow-dropup"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{currentTrack.title}}</ion-title>

    <ion-buttons right>
      <button (click)="pauseTrack()" ion-button icon-only large>
      <ion-icon name="pause"></ion-icon>
      </button>
      <button (click)="resumeTrack()" ion-button icon-only large>
        <ion-icon name="play"></ion-icon>
      </button>
      <button (click)="skipTrack()" ion-button icon-only large>
        <ion-icon name="skip-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
