<ion-header>
  <ion-toolbar *ngIf="playerService.playerStates | async as state">
    <ion-title>
      {{state.currentSong.title}}
    </ion-title>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="playerService.playerStates | async as state" padding>
  <ion-grid *ngIf="state.currentSong">
    <ion-row>
      <ion-col col-12>
        <div style="text-align: center">
          <img src="{{state.currentSong.artwork_url}}" text-center>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 style="text-align: center">{{state.currentSong.title}}</h2>
        <div style="text-align: center">
          <p>{{state.currentSong.user.username}} • {{state.currentSong.duration}}</p>
          <p>{{state.currentSong.description}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="text-align: center">
          <ion-buttons>
            <button (click)="upvote(state.currentSong)" ion-button icon-only small color="primary" padding>
              <ion-icon name="heart"></ion-icon>
            </button>
          </ion-buttons>
        </div>
     </ion-col>
      <ion-col>
        <div style="text-align: center">
          <ion-buttons>
            <button (click)="pauseTrack()" ion-button icon-only large color="primary" *ngIf="state.currentState == 'playing'" padding>
              <ion-icon name="pause"></ion-icon>
            </button>
            <button (click)="resumeTrack()" ion-button icon-only large color="primary" *ngIf="state.currentState == 'paused'" padding>
              <ion-icon name="play"></ion-icon>
            </button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center">
          <ion-buttons>
            <button (click)="skipTrack()" ion-button icon-only small color="primary" padding>
              <ion-icon name="skip-forward"></ion-icon>
            </button>
          </ion-buttons>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
